@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
    font-family: 'Nunito', sans-serif;
}

body {
    background-image: url("https://wallpaperaccess.com/full/2825710.gif");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Varela Round', sans-serif;
    margin: 0;
    min-block-size: 100vh;
    backdrop-filter: blur(7.7px);
}

.borde-animation {
    background-color: rgb(202, 202, 202);
    border-radius: 5px;
    position: relative;
    margin: 15px;
    line-height: 1.5;
}

.borde-animation:after {
    content: "";
    background: linear-gradient(25deg, #4e4d4d 48.9%, #01bba5 49%);
    background-size: 300% 300%;
    border-radius: 10px;
    position: absolute;
    top: -5px;
    left: -5px;
    height: calc(100% + 10px);
    width: calc(100% + 10px);
    z-index: -1;
    animation: bordeGradiente 10s linear both infinite;
    box-shadow: 0px 0px 20px 0px #000000;
}

@keyframes bordeGradiente {

    0%,
    100% {
        background-position: 0% 100%;
    }

    50% {
        background-position: 100% 0%;
    }
}

.textDiv_si {
    margin: 15px;
}